# Python cache
__pycache__/
*.py[cod]

# Model weights and checkpoints
checkpoints/
*.pth

# Inference & eval results
results/
visuals/
*.jpg
*.png

# Dataset folders
data/
LOLv1/
LOLv2/

# Logs and temp files
*.log
*.tmp

# Jupyter notebooks
*.ipynb

# VSCode project settings
.vscode/
